.hero {
    display: flex;
    gap: 65px;
}

.section-hero{
    background-color: rgb(251, 247, 239);
}


.hero__h1 {
   
    padding-top: 58px;
    font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 56px; /* 116.667% */
letter-spacing: 1px;
}

.hero__points li {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
}

.hero__form-section {
    display: flex;
    flex-direction: column;
 
}

.hero_p {
    color: var(--color-stroke);
    font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
}

.collab  {
    display: flex;
    gap: 130px;
}

.okta  {
    display: flex;
    gap: 130px;
}





.report {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    background: no-repeat center/cover;
    height: 550px; /* You can adjust this as needed */
    width: 1120px;
}

.report__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin-right: 20px;
}


.report__h2 {
    margin: 0;

}


.points__img {
   
    height: 500px;

}

.points_p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    color: var(--color-stroke);
}

.points__content {
    display: flex;
    gap: 65px;
}

.teams__points {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    color: var(--color-stroke);
}

.teams__points li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 16px;
    gap: 24px;

}



.teams__img {
   
    height: 500px;

}

.section__stat {
    background-color: var( --color-section);
    padding-top: 100px;
    padding-bottom: 100px;
 
}


.stat__items {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    align-items: center;
    text-align: center;
}

.stat__h1 {
    font-size: 48px;
    line-height: 56px;

}

.cards__wrapper {

}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}